body{
    background-color: #fffbf7;
}

h1{
    color: #025157;
    text-align: center;
    font-family: 'Fascinate', cursive;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20;
}

button{
    color: #fff;
    background-color: #025157;
}
.header{
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-family: sans-serif;
    height: 45px;
    margin: 40px 20px 0;
    /* text-indent: 25px; */
    color: #025157;
    font-size: 0
}
li{
    display: inline;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.logo{
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    align-items: 10px;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
  }

.main{
    margin-top: 140px;
    text-align: center;
}

.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }

.actions a {
    color: #67b54b;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}